@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&family=Raleway:wght@100&display=swap');

.page {
	width: 1440px;
}
.header-container {
	background-color: rgb(232, 208, 102); 
}

.name {
	margin-left: 5rem;
	font-size: 3em;
	font-weight: bold;
	line-height: 150px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: .12em;
	color: rgb(69, 111, 176);
}


.background {
	height: 1080px;
	background-image: url(../img/005.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.works {
	background-color: rgb(232, 208, 102);
}

.links-to-works {
	margin-left: 5rem;
	text-align: left center;
	font-family: Railway, sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: .1em;
	color: white;
}

.worklink {
	line-height: 4em;
	text-decoration: none;
	color: rgb(69, 111, 176);
}


.worklist-point {
	display: inline;
}

.bio-container {
	background-image: linear-gradient(to bottom, rgb(232, 208, 102), 
		white);
	padding-top: 1rem;
}

.bio {
	font-family: 'Railway', sans-serif;
	font-size: 35px;
	font-weight: lighter;
	line-height: 1.3em;
	margin: 3rem;
}

.mcs {
	background-color: rgb(232, 208, 102);
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 5rem;
	text-align: right;
}

.course-name {
	line-height: 140px;
	margin-right: 5rem;
	color: white;
	font-weight: bold;
	font-family: 'Oswald', serif;
	font-size: 45px;
	letter-spacing: .12em;
}