@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Lato');

.page {
	width: 1440px;
	margin: auto;
}
.header-container {
	background-color: rgb(232, 208, 102); 
}

.name {
	margin-left: 5rem;
	font-size: 3em;
	font-weight: bold;
	line-height: 150px;
	font-family: 'Oswald';
	letter-spacing: .12em;
	color: rgb(69, 111, 176);
}

a:hover {
	color:  rgba(69, 111, 176, .3);
}


.background {
	height: 1080px;
	background-image: url(../img/005.png);
	background-position: center center;
	background-repeat: no-repeat;
}


.links-to-works  {
	background-color: rgb(232, 208, 102);
	text-align: center;
	font-family: Lato;
	font-size: 2.2em;
	font-weight: bolder;
	line-height: 3em;
	letter-spacing: .12em;
	color: white;
}

.worklist-point {
	display: inline;
}

.worklink {
	text-decoration: inherit;
	color: rgb(69, 111, 176);
}

.bio-container {
	background-image: linear-gradient(to bottom, rgb(232, 208, 102), 
		white);
	padding-top: 1rem;
}

.bio {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 2em;
	line-height: 1.3em;
	letter-spacing: 1.5px;
	margin: 3rem;
}

.mcs {
	background-color: rgb(232, 208, 102);
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 5rem;
	text-align: right;
}

.course-name {
	line-height: 140px;
	margin-right: 5rem;
	color: white;
	font-weight: bold;
	font-family: 'Oswald', serif;
	font-size: 45px;
	letter-spacing: .12em;
}