@import url(reset.css);

html {
	font-size: 10px;
}

body {
	width: 100%;
	font: 5rem Inter, sans-serif;
	color: red;
	transition-duration: 0.5s;
}

a {
	text-decoration: inherit;
	color: inherit;
}

main {
	margin-top: 128px;
	width: inherit;
}


header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
	width: inherit;
	top: 0;
	box-sizing: border-box;
	padding: 2rem 5rem;
}


.logo {
	letter-spacing: .1em;
}

.menu {
	display: flex;
	column-gap: 2.5rem;
}

.main-land {
	background-image: url(../img/logo.png);
	height: 95rem;
	background-size: cover;
	width: inherit;
	background-repeat: no-repeat;
	display: flex;
}

.main-land > p {
	margin: auto;
	font-size: 8rem;
	transition-duration: 0.5s;
}

.main-descr {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.case {
	width: 20%;
	text-align: center;
	transition-duration: 0.5s;

}

.case > p {
	font-size: 2.5rem;
	color: black;
	letter-spacing: normal;
	margin-top: 5rem;

}

.case img {
	width: auto;
	height: auto;
}

.case:nth-child(2)
{
	margin: 0 1.5rem;
}


.description, .composition {
	flex-basis: fill;
	border: solid rgb(243,193,200) 5px;
	border-radius: 15px;
	font-size: 25px;
	color: black;
	letter-spacing: .05em;
	padding: 2rem;
	margin: 10%;
	max-width: 150rem;
}

.description > p:nth-child(1) {
	margin-bottom: 2rem;
}

.composition {
	display: flex;
	align-items: center;

}


.footer {
	background-color: rgb(243,193,200);
	display: flex;
	width: inherit;
	justify-content: space-between;
}

.footer > p {
	color: white;
	line-height: 10rem;
}

.footer > p:nth-child(1) {
	margin-left: 5rem;
}

.footer > p:nth-child(2) {
	margin-right: 5rem;
}


.menu > li:hover {
	background-color: rgb(243,193,200);
	color: white;
	border-radius: 10px;
}

@media all and (max-width: 900px) {
	body, .main-land > p {
		font-size: 3rem;
	}
	.description > p, .composition > ul, .case > p {
		font-size: 1.4rem;
	}

	.case img {
		width: 10rem;
		height: auto;

	}
}

