@import url(reset.css);

body {
	width: clamp(1000px, 100%, 1440);
	margin: auto;
}


.head {
	background-color: red;
	color: white;
}

p {
	font: 1.08em Helvetica, sans-serif;
}

.second-column {
	margin: 2rem 4rem;
}

p.lead {
	margin-left: 1.2rem;
	line-height: 3rem;
	font-size: 1.2em;
}

.allrecs {
	text-align: center;
}

.rec-container {
	border: solid gold;
	border-radius: 15px;
	display: inline-block;
	border-width: 5px;
	box-sizing: border-box;
	padding: 2rem;
	text-align: left;
	width: 320px;
}

.rec-container h3 {
	font: 1.15em Helvetica, sans-serif;
	text-transform: uppercase;
	margin-top: 1.5rem;
}

.rec-container h1+h3 {
	margin-top: 2.5rem;
}

.rec-container p {
	line-height: 1.05em;
}


h1 {
	font: bold 1.25em Georgia, serif;
}

.foot {
	background-color: red;
}

.foot h3{
	color: white;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	line-height: 3rem;
	margin-left: 1.2rem;

}



	