@import url(reset.css);


/*  свойства для РОДИТЕЛЯ */
.flex-container {
	margin: auto;
	height: 50rem;
	background-color: #e1cc4f;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;  /* direction + wrap */
	align-content: space-around; /* вертикаль */
  /*align-content: - только при 2+ строках и включенном !wrap! или !wrap-reverse!,
  	выравнивает строки с флекс-элементами */
}

/*  свойства для ПОТОМКА */
.flex-item {
	background-color: #01796f;
	text-align: center;
	line-height: 12em;
	width: calc(5vw + 5rem);
	min-width: 105px;
	margin: 0 calc(2vw + 1em);
}

div {
	border-radius: 15px;
}


p {
	font-size: 24px;
	font-family: Inter, sans-serif;
}

.flex-item:nth-child(2n):hover {
	transform-origin: left bottom;
	transform: rotate(50deg);
	transition: 1s;
}





@keyframes ass {
	0%,50%,100% {
		top: -100px;
		transform: scale(0.5,0);
	}
	25%,75% {
		top: 0;
		transform: scale(1,1);
	}
	
}

@keyframes ass-left {
	0%,50%,100% {
		left: 100px;
	}
	25%,75% {
		left: 0;
	}
}


div.another {
	background-color: lightcoral;
	width: 80%;
	margin: auto;
	margin-top: 10%;
}

.marg1, .marg2, .marg3, .marg4 {
	border: none;
	transition: 2s;
	width: 300px;
	height: 300px;
}

.marg1 {
	margin-bottom: -10%;
	margin-left: 500px;
	position: relative;
	max-height: 100%;
	width: 405px;
}

img {
	max-height: 300px;
	min-width: 300px;
}


.placeholder {
 	position: absolute;
 	display: flex;
 	top: 0;
 	left: 0;
 	opacity: 0;
 	height: 100%;
 	width: 100%;
  	background-color: black;
 	color: fuchsia;
 	justify-content: space-around;
 	transition: .3s linear;
 }

 .placeholder p {
 	margin-top: 50px;
 	font-size: 14px;
 }


.placeholder:hover {
 	opacity: .5;
 	transform: scale(1.2);
}


.marg2 {

	background-color: chocolate;	
	margin-bottom: -10%;
	margin-top: 0%;
	margin-left: 140px;
	position: relative;
	animation: ass-left 3s 1s ease-in infinite forwards;
	transform: scale(-1);

}

.marg3 {
	background-color: lightgreen;
	margin-bottom: -10%;
	margin-left: 70px;
}

.marg4 {
	background-color: lightslategrey;
	position: relative;
	animation: ass 3s 1s ease-in infinite forwards;
}

.marg4_4 {
	width: 30px;
	height: 30px;
	background-color: #fff;
	transform: translate(0,-100%);
	border: none;	
}

.marg4:hover {
	box-shadow: 10px 5px 5px red;
}
.marg4:active {
	transform: translate(20px, -20px);
}

.marg3:active {
	transform: translate(-20px, -20px);
}

.marg3:hover {
	box-shadow: 10px 5px 5px lime;
}

.marg2:active {
	transform: translate(20px, 20px);
}
.marg2:hover {
	box-shadow: 10px 5px 5px yellow;
}

.marg1:active {
	transform: translate(-20px, 20px);

}
}
.marg1:hover {
	box-shadow: 10px 5px 5px purple;
}
