/* ================================ Блок дефолтный свойств =============================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }

body {
	line-height: 1;
	box-sizing: border-box;
}

img {
	max-width:100%;
	max-height:100%;
}

* { box-sizing: inherit; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

html { font-size: 10px; }

/* ================================ Блок дефолтный свойств =============================================== */

body {
	font: 2rem Georgia, sans-serif;
}

form {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
}

input,select,textarea {
	display: block;
	border: 1px solid navy;
	border-radius: 10px;
	line-height: 2rem;
}

textarea {
	height: 300px;
}

label,span {
	line-height: 3rem;
}

label {
	display: block;
}

input:focus,textarea:focus {
	outline: thick double firebrick;
}
input[type='radio'],input[type='checkbox']
{
	display: inline;
}

input[type='submit'] {
	background-color: black;
	color: white;
	font: 2rem Georgia, sans-serif;
	height: 4rem;
	padding: 5px;
}

fieldset {
	width: 40%;
	margin: 5% 0;
}


















/*



@media and screen (min-width: 600px) {

}


@media and screen (min-width: 960px) {
	
}


@media and screen (min-width: 1265px) {
	
}

@media and screen (min-width: 1904px) {
	
}



*/
